.header {
    padding:15px 0;

    border-bottom:1px solid #dfdfdf;
}

.header__search {
    float:right;
}

.header__search-input,
.header__search-submit {
    vertical-align:middle;

    border:0;
}

.header__search-input {
    padding:6px;
    margin-right:-4px;

    border-top:1px solid #dfdfdf;
    border-bottom:1px solid #dfdfdf;
    border-left:1px solid #dfdfdf;
    border-top-left-radius:5px;
    border-bottom-left-radius:5px;
}

.header__search-submit {
    padding:8px 15px;

    color:#FFF;
    font-size:0.75rem;

    background-color:#5a7799;
    border-top-right-radius:5px;
    border-bottom-right-radius:5px;
}

.header__nav {
    
}

.header__nav-menu {
    
}

.header__nav-submenu {
    position:absolute;
    top:100%;
    left:0;

    width:150%;

    display:none;
}

.header__nav-item {
    position:relative;

    display:inline-block;
    vertical-align:middle;

    margin-left:5px;
    margin-right:25px;

    border-radius:3px;
}

.header__nav-item--submenu {
    border-bottom-left-radius:0;
    border-bottom-right-radius:0;   
}

/* Main menu item hover and submenu item styles */
.header__nav-item:hover,
.header__nav-subitem {
    color:#FFF;

    background-color:#5079a5;
}

.header__nav-link,
.header__nav-sublink {
    display:block;

    padding:5px;
}

.header__nav-link,
.header__nav-sublink {
    color:inherit;
}

.header__nav-sublink {
    font-size:0.85rem;
}

.header__nav-link::after,
.header__nav-sublink::after {
    margin-left:3px;

    color:#c0c0c0;
    font-size:1.2rem;
    line-height:0;
}

.header__nav-link::after {
    content:"￬";
}

.header__nav-sublink::after {
    content:"➡";

    display:none;
}

.header__nav-sublink:hover {
    background-color:#486a85;
}

/* In the submenu, on hover, show the right pointed arrow. */
.header__nav-sublink:hover::after {
    display:inline-block;
}

/* On hover on item with submenu, show the submenu. */
.header__nav-item--submenu:hover .header__nav-submenu {
    display:block;
}

