.sidebar {
    display:none;
    float:right;
    
    padding-left:30px;
}

@media (min-width:992px) {
    /* Only show the sidebar for >992px. */
    .sidebar {
        display:block;
    }
}

.sidebar__item {
    display:block;

    margin-bottom:10px;
}
