/* Normalize */
body {
    margin: 0;
}

main,
section {
    display: block;
}

/* Support classes */
.clearfix::before,
.clearfix::after {
    content:" ";

    display:table;
}

.clearfix::after {
    clear:both;
}

/* Make all elements use border-box box-sizing */
* {
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box;
}

html {
    font-size:16px;
    font-family:"Helvetica", "Arial", sans-serif;
}

/* ListView container */
.listview {
    margin:0 auto;
}

/* ListView list and its descendants */
.listview__list {
    width:100%;
    padding:0;
    margin:0;

    list-style:none;

    border-left:1px solid #DDD;
    border-right:1px solid #DDD;
}

.listview__list-item {
    padding:10px 0 10px 15px;

    border-bottom:1px solid #DDD;
}

/*.listview__list-item:nth-of-type(2n) {
    background-color:#FDFDFD;
}*/

.listview__list-item-image,
.listview__list-item-title {
    display:inline-block;
    vertical-align:middle;
}

.listview__list-item-image {
    width:100px;
    height:100px;
}

.listview__list-item-title {
    width:calc(100% - 150px - 20px);    /* Full width - image width - margin-left amount */
    margin-left:20px;

    font-size:1.2rem;
    white-space:nowrap;
    text-overflow:ellipsis;

    overflow:hidden;
}

/* Responsive styles */
@media (min-width:640px) {
    .listview__list-item-image {
        width:150px;
        height:150px;
    }
}

@media (min-width:1024px) {
    .listview__list-item {
        float:left;

        width:50%;
    }
}

@media (min-width:1200px) {
    .listview__list-item {
        width:calc(100% / 3);
    }
}
